.csf_info{
    padding:10px;
  }

  .name_title{
    font-size:20px;
    font-weight:600;
  }

  .header_title{
    font-weight:bold !important;
    font-size:15px !important;
  }

  .table_info_csf td{
    padding:10px;
  }

  #viewModalLabel{
    display: inline-block;
    margin-right: 5px;
  }

  .container_label{
    display: flex;
    flex-direction: row;
    width:200px;
    background-color: tomato;
  }


  /* Hide the browser's default checkbox */
  .container_radio {
    display: block;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  /* Hide the browser's default checkbox */
  .container_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container_radio:hover input ~ .checkmark {
    background-color: #ccc;
  }


  label{
    font-size:15px;
  }



  .modal-header{
      background-color: #5d87ff;
  }

  .modal-title{
      font-weight: bold;
  }

  .input_class{
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px !important;
  }